body {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(139, 17, 158);
    padding: 20px;
    font-size: 32px;
    color: rgb(139, 17, 158);
}

section {
    background: rgb(97, 234, 28);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color: black;
}

.chamada-texto {
    margin-right: 5%;
}